* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffd5c2;
  text-align: center;
}

.container {
  height: 70vh;
  display: flex;

  justify-content: center;
  align-items: center;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}

.box {
  height: 20vmin;
  width: 18vmin;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  font-size: 7vmin;
  color: #588b8b;
  background-color: #e78f7d;
}

#reset {
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  background-color: #588b8b;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.new-game {
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  background-color: #588b8b;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

#msg{
    color: rgb(175, 8, 36);
    font-size: 7vmin;
}

.msg-container{
    height: 20vmin;
}

.hide{
    display: none;
}
